{# macro imports must be at the top https://github.com/Keats/tera/issues/902 #}
{% import "macros/breadcrumbs.html" as breadcrumbs %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ config.title }}</title>

    {% include "partials/head/css.html" %}
</head>

<body>
    {# uncomment to debug context data #}
    {# {{ __tera_context }} #}

    {% include "partials/nav.html" %}
    <hr>

    <div>
        {% block content %} {% endblock content %}
    </div>
</body>

</html>
